<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% if session.username %}
        <div style="padding-bottom:1rem">
            Hi, {{ session.username }}
            {% if session.username == "bob" %}
                | <a href="{{ url_for('admin') }}">Admin Panel</a>
            {% endif %}
        </div>
    {% else %}
        <a href="{{ url_for('login') }}">Login</a> / <a href="{{ url_for('register') }}">Register</a>
    {% endif %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>